*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    background-color: #1a1e26;
    color: white;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    justify-content: space-between;
}

nav ul li{
    color: white;
    text-decoration: none;
    justify-content: space-between;
    margin: 25px;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 20px;
}

footer{
    margin-top: auto;
    text-align: center;
    background-color: #1a1e26;
    color: white;
    width: 100%;
    padding: 2.5px;
    font-size: small;
    padding: 10px;
}


body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

.form{
  padding: 20px;
}

.contact{
    padding-top: 10%;
}

label {
    display: block;      /* Required for the margin to work */
    margin-top: 25px;    /* THIS IS THE SPACE */
    font-weight: bold;
}

button{
    margin-top: 20px;
    padding: 10px ;
    background-color: #1a1e26;
    color: white;
    border: none;
}   