*{
    text-align: center;
}

/* Still dont understand */

        html, body {
            height: 100%;
            margin: 0;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

.profile-picture{
    width: 150px;
    height: 150px;

/* This did not work because it only works in a flex container   */
    align-items: center;
/* This did not work because it only works in a flex container   */

    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
}

/* Still dont understand */

section {
    padding: 20px;
    text-align: left;
}

nav{
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px;
 background-color: #1a1e26;
 color: white;
 text-decoration: none;
}

nav a{
    color: white;
    text-decoration: none;
}

nav .logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul li a{
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 20px;
    justify-content: space-between;
}

nav ul li{
    margin: 25px;
    color: white;
}

footer{
    margin-top: auto;
    text-align: center;
    background-color: #1a1e26;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: small;
}


