*{
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1e26;
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav a{
    color: white;
    text-decoration: none;
}

nav .logo{
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

nav ul li a{
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 20px;
    justify-content: space-between;
}

nav ul li{
    margin: 25px;
}

section{
    padding: 20px;
    text-align: left;
    width: 100%;
    height: 100%;
}

footer{
    text-align: center;
    background-color: #1a1e26;
    color: white;
    padding: 20px;
    font-size: small;
    margin-top: 20px;   
    padding: 10px;
}

h1{
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
}

ol{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer{
    text-align: center;
    background-color: #1a1e26;
    color: white;
    padding: 20px;
    font-size: small;
    margin-top: 20px;   
    padding: 10px;
}

img{
    width: 25%;
    height: auto;
    margin-top: 10px;
}

