* {
        margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items:  center;
    padding: 20px ;
    background-color: #1a1e26;
    text-decoration: none;
}

nav a{
    color: white;
    text-decoration: none;
}

nav .logo{
    font-size: 24px;
    font-weight: Bold;
}

nav ul{
    display: flex;
    list-style: none;
    margin: 20px;
}

nav ul li{
    margin: 25px;
    color: white;
}

nav ul li a{
    color: white;
    font-size: 0.9rem;
    text-decoration: none;
}

.hero{
    display: flex;
    background-image: url('workspace.png');
    background-size: 100%;
    background-position: center;
    height: 500px;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}


.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px;
    color: #ffffff;
}

.overlay h1{
    margin-bottom: 10px;
    font-size: 3rem;
}

.overlay p{
    font-size: 1.2rem;
    font-weight: 200;
}

.list, .content {
    padding: 20px 5%;
    display: inline-block;
    width: 49%;
    text-align: center;
    vertical-align: top;
}

.list ul li{
    text-align: center;
    list-style: none;
    padding: 7px;
}

.list h2{
    margin-bottom: 20px;
    text-align: center;
}

.content h2{
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td{
    padding: 5px;
    border: 3px solid #dddddd;
}

td{
    text-align: left;
    background-color: #f2f2f2;
}

footer{
    text-align: center;
    background-color: #1a1e26;
    color: white;
    width: 100%;
    padding: 10px;
    font-size: small;
}

.list ul li {
    color: #1a1e26;
    background-color: #f2f2f2;
    font-size: 1.2rem;
}
